@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto';
    background-color: black;
    color: white;
    
}

.choise{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid white;
}

.move-icon{
    height: 50px;
    
}

.move-button{
    background-color: transparent;
    border: none;
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.move-button:hover{
    border: 3px solid yellow;
}

.score{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
    padding: 15px;
    border-radius: 20px;
    margin-top: 40px;
    text-align: center;
    margin: 0 40px;
}

.reset-button, .auto-play-button{
    padding: 12px;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
    width: 50%;
}

.button-reset {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    outline: none;
    
}

.button-reset button:hover{
    background-color: rgba(255, 255, 0, 0.61);
    transition: 0.5s;
}

.final-result{
    font-size: 50px;
    font-weight: bold;
    text-align: center;

}

.button-reset{
    display: flex;
    justify-content: center;
    margin: 30px 80px;
    gap: 10px;
}

.auto-play-button{
    background-color: rgba(68, 181, 68, 0.485);
    color: white;
}

.confirmation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.confirm-button,
.cancel-button{
    width: 60px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
}

.confirm-button{
    background-color: green;
}

.confirm-button:hover{
    background-color: rgb(8, 252, 8);
}


.cancel-button{
    background-color: firebrick;
    
}

.cancel-button:hover{
    background-color: rgb(249, 15, 15);
    
}